body {
  background: rgb(48, 47, 47);
  color: white;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}
button.submit {
  border: 1px solid white;
  background: coral;
  color: white;
  padding: 5px 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1px;
  margin-bottom: 5px;
}
.credentials {
  border: 1px solid white;
  background: rgb(48, 47, 47);

  color: white;
  padding: 5px 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.card {
  margin-top: 10px;
}
